<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <footer class="footer">
	
        <div class="navbar navbar-fixed-bottom" style="background-color: whitesmoke;">
	    <span class="text-muted pull-right">&copy; 2017. The Qulbutoke Compagny&nbsp;&nbsp;&nbsp;</span>
		<span class="text-muted" sec:authorize="isAuthenticated()">

COUCOU
                </span>
		<span class="text-muted" sec:authorize="false">
                    &nbsp;&nbsp;&nbsp;Logged as anonymous&nbsp; [NO_ROLE]
                </span>
        </div>

    </footer>
    
</div>
</body>
</html>