<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-head"/>
</head>
<body>

<div th:replace="fragments/header :: header-body"/>

<!-- Content Distribute by Server -->
<div class="container">
    <div class="starter-template">
        <h1 th:text="#{detail.title}">detail.title</h1>
    </div>
    <div class="Server-template">
        <table class="table table-striped">
            <td>
                <img th:src="|${pokemon.pictureUrl}|" style="height:110px;"/>
            </td>
            <td>
                <div id='root2' th:text="${pokemon.num}">pokemonNum</div>
                <div id='root2' th:text="${pokemon.name}">pokemonName</div>
                <br/>
                <span th:text="${pokemon.type}">Type</span>
                <img th:src="|${pokemon.type1PictureUrl}|" style="height:14px;"/>
                <img th:src="|${pokemon.type2PictureUrl}|" style="height:14px;"/>
            </td>
        </table>       
    </div>
</div>

<!-- get Variable from Context-->
<script th:inline="javascript">
var searchString = /*[[${#httpServletRequest.getParameter('searchString')}]]*/ "";
console.log("getParameter('searchString'): "+searchString);
</script> 

<!-- Script to execute -->
<script type="text/babel" th:src="@{/js/global.js}"/>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>