<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-head"/>
</head>
<body>

<div th:replace="fragments/header :: header-body"/>

<div class="container">

    <div class="starter-template">
        <h1>Help on PokeBible</h1>
        <p>
        	<BR/>To use this service you must be logon as an simple user or an admin:
        	<ul>
        		<li>user / password</li>
        		<li>admin / password</li>
        	</ul>
        </p>
    </div>

</div><!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>