<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"/>

<!-- Content -->
<div class="container">
    <div class="Server-template">
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 50px;"></th>
      <th style="width: 150px;">Name</th>
      <th>Type</th>
    </tr>
    <tr th:each="pokemon : ${pokemonSelection}">
      <td>
          <img th:src="@{${pokemon.pictureUrl}}" style="height:30px;" />
      </td>
      <td>
        <a href="ownerDetails.html"
          th:href="@{|/owners/${pokemon.num}|}"
          th:text="|${pokemon.name}|">Name</a>
      </td>
      <td>
        <a href="ownerDetails.html"
          th:href="@{|/owners/${pokemon.type}|}"
          th:text="|${pokemon.type}|">Type</a>
      </td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>       
    </div>
    <div class="starter-template">
        <h1>Dashboard</h1>
        <p>
            <div id='root'></div>
        </p>
    </div>

</div>

<!-- get Variable from Context-->
<script th:inline="javascript">
var searchString = /*[[${#httpServletRequest.getParameter('searchString')}]]*/ "";
console.log("getParameter('searchString'): "+searchString);
</script> 

<!-- Script to execute -->
<script type="text/babel" th:src="@{/js/global.js}"/>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>