<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"/>

<!-- Content Distribute by Server -->
<div class="container">
    <div class="starter-template">
        <h1 th:text="#{home.title}">home.title</h1>
        <p>
            <div id='root'></div>
        </p>
    </div>
    <div class="Server-template">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 50px;"></th>
              <th style="width: 50px;">Num</th>
              <th style="width: 50%;">Name</th>
              <th style="width: 50%;">Type</th>
            </tr>
            <tr th:each="pokemon : ${pokemonSelection}">
              <td>
                  <img th:src="|a${pokemon.pictureUrl}|" style="height:30px;"/>
              </td>
              <td>
                <span th:text="${pokemon.num}">Num</span>
              </td>
              <td>
                <a href="ownerDetails.html"
                  th:href="@{|/owners/${pokemon.num}|}"
                  th:text="${pokemon.name}">Name</a>
              </td>
              <td>
                <span th:text="${pokemon.type}">Type</span>
                <img th:src="|a${pokemon.type1PictureUrl}|" style="height:14px;"/>
                <img th:src="|a${pokemon.type2PictureUrl}|" style="height:14px;"/>
              </td>

            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>       
    </div>
    
</div>

<!-- get Variable from Context-->
<script th:inline="javascript">
var searchString = /*[[${#httpServletRequest.getParameter('searchString')}]]*/ "";
console.log("getParameter('searchString'): "+searchString);
</script> 

<!-- Script to execute -->
<script type="text/babel" th:src="@{/js/global.js}"/>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>